body{
  font-family: "Montserrat";
}
.heading{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;

}
.container-fluid{
  padding: 3% 15% 7%;
}
.title{
  background-color: #ff4c68;
}
.iphone{
  margin-left: 50px;
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  /* z-index: -1; */
}
@media (max-width:1028px) {
  .iphone{
    position: static;
    transform: rotate(0);

  }
  .title{
    text-align: center;
  }
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
a{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
.Download-button{
  margin: 5% 3% 5% 0;
}
#features{
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}
.features-box{
  padding: 5%;
  text-align: center;
}
h3{
  font-family: "Montserrat";
  font-weight: bold;
}
.para{

  color: gray;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;

}
#testimonials{
  padding: 7% 15%;
  background-color: #ef8172;
  color: #fff;
  text-align: center;

}
.test-moni{
  font-family: "Montserrat";
  font-weight: bold;
}
.test-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  padding-bottom: 3%;
  background-color: #ef8172;
  text-align: center;
}
.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
h2{
  font-family: "Montserrat";
  font-weight: bold;
}
#pricing{
  padding: 100px;
}
.pricing-col{
  padding: 3% 2%;
  text-align: center;
}
.call{
  text-align: center;
  background-color: #ff4c68;
  padding: 5% 15%;

}
.call-class{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;

}
#footer{
  padding: 5% 15%;
  text-align:center;

}
.copyright{
  color: gray;
  padding: 15px;
}
.last{
  margin: 8px;
}
